<!DOCTYPE html>
<html lang="en" ng-app="BDC-app" id="dox">

<head>
	<!--TO BE CHANGED-->
	<title>BDC Challenge</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="css/theme.css" rel="stylesheet">
	<!-- CSS for Cards -->
	<link href="css/cardview.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="templateController">

	<header id="header">
		<div class="container header-container clearfix">
			<div class="dash">Your Workout PLan</div>
			<div class="pname">Hi {{first_name}} {{last_name}}</div>
		</div>
	</header>
	<!-- Grid layout -->
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<div>
							<h3>
								Monday
							</h3>
						</div>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.stretch.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.workout.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.cardio.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<div>
							<h3>
								Tuesday
							</h3>
						</div>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.stretch.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.workout.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.cardio.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Wednesday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.stretch.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.workout.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.cardio.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Thursday
						</h3>
						<hr>
						<div class="daylist">
							<strong> REST DAY </strong>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Friday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.stretch.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.workout.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.cardio.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Saturday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.stretch.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.workout.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="list-style-type:circle; padding-left: 2em" ng-repeat="ex in workout.cardio.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Sunday
						</h3>
						<hr>
						<div class="daylist">
							<strong> REST DAY </strong>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Your Info
						</h3>
						<hr>
						<div class="daylist" id="yourinfo">
							<div id="avatar" ></div>
							<ul>
								<li class='preworkout'><strong>Hi {{first_name}} {{last_name}}</strong></li>
								<li class='workout'><strong>21</strong></li>
								<li class='postworkout'><strong>Still single</strong></li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

		</div>

	</div>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="js/theme.js"></script>
	<!--Validation JavaScript-->
	<script src="js/validate.js"></script>
	<!--Exporting JavaScript-->
	<script src="js/exportWebsite.js"></script>

	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASZ7feZgsR1J-nPR2WNePQmHAjc9Zsve8">
	</script>

</body>
</html>