<!DOCTYPE html>
<html lang="en" ng-app="BDC-app" id="dox">

<head>
	<!--TO BE CHANGED-->
	<title>BDC Challenge</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="css/theme.css" rel="stylesheet">
	<!-- CSS for Cards -->
	<link href="css/cardview.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="dashboardController"; style="height:100%">
	<div style="background-color: rgba(0, 0, 0, 0.6); min-height:100em;">
	<header id="header">
		<div class="container header-container clearfix">
			<div class="dash"><span style="color:white; font-weight: 700"> thicc<span style="color:#ff4d4d">.ai</span></span></div>
			<div class="pname">Hi {{first_name}} {{last_name}}</div>
		</div>
	</header>
	<!-- Grid layout -->
	<div class="container p-t-35">
		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Your profile
						</h3>
						<hr>
						<div class="daylist" id="yourinfo">
							<p style="text-align: left; font-size: 1em; color: #dddddd"> <strong>Hi {{first_name}} {{last_name}} <br> </strong>
								This workout plan has been specifically tailored to your strength and weaknesses. Your DNA suggested that you have {{pain_area}} pain and a strong {{strength_area}} body.
								This plan focuses on your weaknesses while not forgetting about your strength. Happy workout!
							</p>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<div>
							<h3>
								Monday
							</h3>
						</div>
						<hr style="color: #DDDDDD">
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.stretch.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.workout.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.cardio.monday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<div>
							<h3>
								Tuesday
							</h3>
						</div>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.stretch.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.workout.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.cardio.tuesday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Wednesday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.stretch.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.workout.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.cardio.wednesday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Thursday
						</h3>
						<hr>
						<div class="daylist">
							<strong style="color: #DDDDDD"> REST DAY </strong>
							<p style="text-align: left; font-size: 1em; color: #dddddd"> <br>
								You've worked hard! Get a good night's sleep and recover.
							</p>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Friday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.stretch.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.workout.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.cardio.friday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Saturday
						</h3>
						<hr>
						<div class="daylist">
							<ul>
								<li class='preworkout'><strong>Preworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.stretch.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='workout'><strong>Workout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.workout.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
								<li class='postworkout'><strong>Postworkout</strong><br>
									<ul style="padding-left: 2em" ng-repeat="ex in workout.cardio.saturday">
										<li>{{ex}}</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							Sunday
						</h3>
						<hr>
						<div class="daylist">
							<strong style="color: #DDDDDD"> REST DAY </strong>
							<p style="text-align: left; font-size: 1em; color: #dddddd"> <br>
								Last day of the week. You deserve a break. Use this day to set yourself up for a new week!
							</p>
						</div>
						<!-- <button class="btn btn-default" role="button">View More</button> -->
					</div>
				</div>
			</div>

		</div>

	</div>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="js/theme.js"></script>
	<!--Validation JavaScript-->
	<script src="js/validate.js"></script>
	<!--Exporting JavaScript-->
	<script src="js/exportWebsite.js"></script>

	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASZ7feZgsR1J-nPR2WNePQmHAjc9Zsve8">
	</script>

</body>
</html>